
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* -----------------------  header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 10px 10px 7px rgb(209, 250, 238);
    backdrop-filter: blur(15px);
    z-index: 999;
    background-color: #232F3899;
}
.header-container{
    width: 1200px;
    height:  74px;
    /* background-color: gainsboro; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link{
    width:  92px;
    height: 26px;
    margin-left: 20px;
}
.header-list{
    margin-right: 60px;
    display: flex;
    gap: 35px;
}
.header-item{
    width: 118px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-item:hover{
    border: 1px solid rgb(11, 183, 209);
    border-radius: 9px;
    box-shadow: 5px 5px 70px skyblue;
}
.header-link-two{
    font-family: Oxygen;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* -------------------------------------------------------------------------head */
.head-container{
    background-image: url(../A-IMG/b1.png);
    background-size: 100%;
    /* background-size: contain; */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 100px;
}
.head-title{
    font-family: Lora;
    font-weight: 400;
    font-style: Regular;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
}
.head-text{
    font-family: Oxygen;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFFA1;
    width: 504px;
    height: 20px;
    margin-bottom: 25px;
}
.head-link{
    width: 167px;
    height: 44px;
    border-radius: 3px;
    background: #DD783F;
    font-family: Oxygen;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    align-content: center;
    color: #FFFFFF;
}
/* --------------------------------------------------------section-container */
.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    padding-bottom: 100px;
}
.section-marquee{
    background-color: #FFFFFF;
}
.sec-mar{
    display: flex;
    gap: 90px;
    width: 1100px;
    align-items: center;
}
.marquee-text{
    width: 139px;
    height: 46px;
    font-family: Lora;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #768088;
    align-content: center;
}
.marquee-text:hover{
    border: 1px solid rgb(11, 183, 209);
    border-radius: 9px;
    box-shadow: 5px 5px 70px skyblue;
}
/* section-box */
.section-box{
    width:  980px;
    height: 414px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    font-family: Oxygen;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    text-align: center;
    color: #2E2E2E;
    margin-top: 50px;
}
.section-HR{
    width: 188px;
    height:  1px;
    background: #DEDEDE;
    margin-top: 20px;
    margin-bottom: 25px;
}
.section-list{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    width:  960px;
    height: 294px;
}
.section-item{
    border: 1px solid rgb(184, 37, 37);
    width:  450px;
    height: 280px;
    background-image: url(../A-IMG/i1.png);
    padding: 25px;
}
.section-text-hover{
    width:  87px;
    height: 26px;
    border-radius: 2px;
    background: #DD783F;
    font-family: Oxygen;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    align-content: center;
}
.section-title-two{
    font-family: Lora;
    font-weight: 400;
    font-style: Regular;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 100px;
}
.section-text{
    font-family: Oxygen;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFFB2;
    margin-top: 10px;
}
.mini-box{
    width: 400px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.section-img{
    width:  26px;
    height: 26px;
    border-radius: 60px;
}
.mini-text{
    display: inline-block;
    font-family: Oxygen;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 35px;
    color: #FFFFFFB2;
}
.mini-sp{
    margin-left: 186px;
}
.section-item-two{
    border: 1px solid rgb(37, 184, 184);
    width:  450px;
    height: 280px;
    background-image: url(../A-IMG/i2.png);
    padding: 25px;
}
/* recent */
.recent{
    width:  980px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recent-list{
    width: 960px;
    height: 632px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.recent-item{
    width:  296px;
    height: 291px;
    border: 1px solid rgb(132, 250, 218);
    margin: 10px;
    background-color: #FCFCFC;
}
.recent-item:hover{
    border: 1px solid rgb(132, 250, 250);
    box-shadow: 5px 5px 70px rgb(118, 216, 255);
}
.recent-img{
    width:  296px;
    height: 150px;
}
.recent-title-two{
    font-family: Lora;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
    margin-left: 15px;
    margin-top: 15px;
}
.recent-text{
    width: 247px;
    height: 38px;
    font-family: Oxygen;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
    margin-left: 15px;
    margin-top: 7px;
}
.recent-box{
    width: 295px;
    height: 48px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    border-top: 1px solid #999999;
}
.recent-img-mini{
    width:  26px;
    height: 26px;
    border-radius: 60px;
    margin-left: 15px;
}
.recent-text-mini{
    font-family: Oxygen;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}
.mini-spn{
    margin-left: 103px;
    margin-right: 15px;
}
/* --------------------------------------------------------------------------footer */
.footer-container{
    background-image: url(../A-IMG/b2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1200px;
    height: 408px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    padding-top: 50px;
}
.footer-title{
    font-family: Oxygen;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #EFEFEF;
}
.footer-from{
    width: 500px;
    height: 50px;
}
.footer-input{
    width: 369px;
    height: 50px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    padding-left: 20px;
    color: #817F83;
}
.footer-btn{
    width: 125px;
    height: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    background: #FFFFFF47;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #F8F8F8;
}
.footer-nav{
    display: flex;
    width: 1200px;
    height: 89px;
    background: #232F3899;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}
.footer-list{
    display: flex;
    gap: 30px;
    height: 34px;
    align-items: center;
}
.footer-item{
    width:  76px;
    height: 26px;
    font-family: Oxygen;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.footer-item:hover{
    border: 1px solid rgb(132, 250, 250);
    box-shadow: 5px 5px 70px rgb(118, 216, 255);
}
.footer-link{
    color: #FFFFFF99;    
}